
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <!-- <div class="text-center text-xl-left text-muted">
              <a target="_blank" 
                 href="#" 
                 class="font-weight-bold ml-1">YUDIBOT</a>
            </div> -->
          </div>
          <div class="col-xl-6">
            <div class="text text-xl-right text-muted" style="font-size: 15px;"> 
             MADE WITH <i class="fa fa-heart pulse"></i> BY <a href="http://www.theayazsaiyed.ml" target="_blank"> AYAZ</a><br>

            </div>
          </div>
        </div>
      </footer>
