
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <a href="#" 
                   class="font-weight-bold ml-1" target="_blank">YUDI-BOT</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
                            MADE WITH <i class="fa fa-heart pulse"></i> BY <a href="http://www.theayazsaiyed.ml" target="_blank"> AYAZ</a><br>
            </div>
          </div>
        </div>
      </div>
    </footer>
